:root {
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-header {
  display: flex;
  align-items: center;
}

.nav,
.nav-list,
.list {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-header {
  color: var(--title-color);
  margin-right: 93px;
}

.logo-footer {
  color: #ffffff;
}

.nav-list .nav-item + .nav-item {
  margin-left: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.nav-link:hover,
.nav-link:focus {
  display: flex;
  align-items: center;

  color: var(--accent-color);
}

.list {
  margin-left: auto;
  display: flex;
  align-items: center;

  list-style: none;
}
.link {
  text-decoration: none;
}

.contact-tel {
  margin-left: 50px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.contact-mail:hover,
.contact-mail:focus {
  color: var(--accent-color);
}

.contact-tel:hover,
.contact-tel:focus {
  color: var(--accent-color);
}

.active-page {
  color: var(--accent-color);
}

.contact-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.hero {
  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  padding-top: 200px;
  margin: 0 auto;
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
}

.hero-btn {
  margin-top: 30px;
  margin-bottom: 200px;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: #ffffff;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #ffffff;
  color: var(--accent-color);
}
.item-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: var(--accent-color);
  color: #ffffff;
}

.item-btn:hover,
.item-btn:focus {
  background-color: #ffffff;
  color: var(--accent-color);
}

.items-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--title-color);
}

.hidden-title {
  display: none;
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-list {
  display: flex;
  align-items: center;
}

.advantages-list .advantages-item + .advantages-item {
  margin-left: 30px;
}

.advantages-subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.about {
  padding-bottom: 94px;
}

.about-title {
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.about-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-list .about-item + .about-item {
  margin-left: 30;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  width: 100%;

  background-color: #f5f4fa;
}
.team-title {
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-list {
  display: flex;
  align-items: center;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .team-item + .team-item {
  margin-left: 30px;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  margin-bottom: 10px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.desc {
  text-align: center;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.footer-link {
  padding-top: 100px;
}
.footer-list {
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
}

.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
}

.subject {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
